body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	text-align: center;
	font-family: "Ubuntu Mono", monospace;
	background: linear-gradient(
			to bottom,
			rgba(12, 14, 12, 0.5),
			rgba(23, 27, 22, 0.5)
		),
		url("./assets/bg.jpeg");
}

h1 {
	margin: 0;
	margin-bottom: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	font-size: 6rem;
	color: rgb(255, 255, 255);
	text-shadow: 0 0 10px rgb(3, 88, 10), 0 0 20px rgb(0, 85, 6);
}

.input {
	border: 1px solid #333;
	border-radius: 0.3em;
	padding: 0.5rem;
	width: 10em;
	font-size: 2rem;
}
.input:focus,
.input:active {
	outline: none !important;
}

select {
	margin-left: 0.5rem;
	font-size: 2rem;
}

.equals {
	font-weight: bold;
	font-size: 5rem;
	color: rgb(255, 255, 255);
	text-shadow: 0 0 10px rgb(3, 88, 10), 0 0 20px rgb(0, 85, 6);
}

@media (max-width: 420px) {
	.equals {
		font-size: 3rem;
	}
	h1 {
		font-size: 3rem;
	}
	select {
		font-size: 1.5rem;
	}
	.input {
		font-size: 1.5rem;
		max-width: 60%;
		margin: 0 auto;
	}
}
